[2022-04-07 19:44] kongo09 opened #2 "Support AC3259"
see here: https://github.com/betaboon/philips-airpurifier-coap/issues/46

[2022-04-08 13:28] jaqb opened #3 "Support for AC3036/10"
Can you add support for AC3036 ? It's the same as AC3033 and AC3039. Same purifiers just different color/style.

[2022-04-08 15:16] tebra-jl opened #4 "error code list?"
Thanks for this new version of integration for Philips air purifier.
I wonder if there is somewhere a list of Philips error code with meaning.
It will be useful for automations

[2022-04-08 15:26] kongo09 commented on #4
betaboon "in the old days" collected a few error codes and they're in the code together with their meaning. But I've never seen a comprehensive list.

[2022-04-08 15:26] kongo09 commented on #4
https://github.com/kongo09/philips-airpurifier-coap/blob/58c25a2e0737723b853e918cd8a038832ed0da86/custom_components/philips_airpurifier_coap/const.py#L216

[2022-04-08 15:26] #4 closed, assigned to nobody

[2022-04-08 15:30] kongo09 commented on #3
Great, should be easy. I'll look into this.

[2022-04-08 15:34] tebra-jl commented on #4
If I find another one I will post it here.

[2022-04-09 09:10] Denaun commented on #3
Hi!
First of all, thank you @kongo09  for all your work 😄

This is the same model I have been using (and still use) to test on my fork. As @jaqb said, it really is the same as AC3033 aside from what it returns for `model` and `modelid`, which means it could be enough to add a const for `MODEL_AC3036 = "AC3036"` and map it to `PhilipsAC3033` in `model_to_class`.
I didn't realize the AC3039 is also

[2022-04-09 09:19] kongo09 commented on #3
Hi @Denaun , the thanks goes to you. I've just extended your work! And actually, I'm learning as I do this, so I'm very grateful for advice and support!

I thought about doing a AC303x base class in case more models of that series pop up.

[2022-04-09 09:42] kongo09 commented on #3
@jaqb please try new beta v0.9.2-beta.1

[2022-04-09 09:56] kongo09 commented on #2
Functionality seems to be the same as AC2889

[Manual AC3259](https://www.documents.philips.com/assets/20210505/3bd4ad1baa7e4bea9351ad1f0085cf73.pdf?_gl=1*10lryrf*_ga*MTY2NDg1ODgwMC4xNjQ4NDk3NzQ0*_ga_2NMXNNS6LE*MTY0OTQ5NzYxMy40LjEuMTY0OTQ5NzY0OS4yNA..*_fplc*dTduZzJjZ0VSdmJFdXZqd3ZRJTJGV3clMkIxNlA1a0s3OGJlcjdlN2VicHhSVWRGMmRIWUZKSUFpS3JnTGF5bjQ0cnJNem1GVFBLVHolMkZMN21xbzNGd295SE5PMnQ2NHRJdTRKeG9sam

[2022-04-09 09:57] jaqb commented on #3
tbh I have already modified the files locally and it worked. but now I have also installed this beta and it still works. So thank you very much !

[2022-04-09 09:57] #2 closed, assigned to kongo09

[2022-04-09 10:16] kongo09 commented on #3
thanks for testing!

[2022-04-09 10:16] #3 closed, assigned to kongo09

[2022-04-09 13:38] kongo09 commented on #4
That's great, thanks. Just reopen this and I'll put it in.

[2022-04-09 22:22] kongo09 opened #8 "Sensor not working with native values"
Sensors should work with native values and native unit of measurement, so that - in the case of temperature at least - the user can convert units in the interface.

See: https://github.com/home-assistant/core/blob/ad29d89484b53351ae1afcf80ea8e80a3342cb59/homeassistant/components/sensor/__init__.py#L265

[2022-04-10 19:18] riveccia opened #9 "AC3036 not applying settings"
I just installed latest version (0.9.3) and configured an AC3036.
It seems that the integration is reading parameters in the correct way, but it is not possible to control the purifier.

If I try to change the configuration from HA, nothing happens.
If i did the same from the Philips app, the entity status is changed successfully.

[2022-04-11 20:42] kongo09 commented on #9
The Philips app is using the Philips cloud. Home Assistant is using a local connection. The two cannot be compared.

It feels like you have the annoying connectivity problem that most of us have with the latest Philips firmware. Would you mind providing some logging?

[2022-04-11 21:07] kongo09 commented on #8
fixed in v0.9.4

[2022-04-11 21:07] #8 closed, assigned to kongo09

[2022-04-12 09:26] kine90 opened #11 "AC1214/10"
I´ve just updated the integration for my purifier, before I was using the one from Betaboon.

- In comparison, this loads much faster when HA is restarted. The connection seems to be working fine.

- I can set the speed only to 75% max, everything above is ignored (which I guess would be the turbo speed).

- If the purifier is switched off or set to 0% speed, it stops sending sensor data and is no

[2022-04-14 17:20] kongo09 commented on #11
In the code there is a `turbo` speed setting. Does your device have a turbo mode?

This feels like the connectivity problem. Not sure if this can be fixed. Was that the same with the previous betaboon integration?

This is strange. It might also explain why you don't get full speed in the `turbo` mode, as this is set in a similar way as the presets. Can you please enable debug logging and share a

[2022-04-14 17:22] kongo09 commented on #11
child lock switch added in v0.9.5

[2022-04-14 20:31] riveccia commented on #9
Unfortunately it started working in last days without any modification.
I will provide logs if it happens again.

Thank you very much for your support.

[2022-04-14 20:31] #9 closed, assigned to nobody

[2022-04-15 09:29] kongo09 opened #15 "Make speed a preset as well"
- put speed settings into presets
- put `night` and `sleep` into speeds as lowest setting

[2022-04-15 09:29] kongo09 commented on #15
supports #13

[2022-04-16 23:46] kongo09 commented on #15
Yes, I know this. This is the basis betaboon started from. This guy basically reverse engineered the Philips protocol in the first place. Without him, we wouldn't have anything.

But I didn't look into this lately. Why don't you give it a try and see if it is more stable?

[2022-04-17 09:51] kine90 commented on #11
Hi, thanks for following back!
I´ve reverted to Betaboon to keep some automations and flows going. I will re-install your version and provide the logs as soon I have some time, probably tomorrow. For now I can say:

- Yes, my device has Turbo, Auto, Allergens and Night modes (plus the three manual speeds).
- Yes, Betaboon integration gives me the same problems, I can only set manual mode speed.
-

[2022-04-17 10:21] kongo09 commented on #11
These are interesting observations. As my work builds on betaboon, the internal settings logics are pretty much the same. If you discover a wake up method, that's worth understanding and verifying. Please keep observing and reporting.

[2022-04-18 07:58] kongo09 commented on #15
v0.9.6

[2022-04-18 07:58] #15 closed, assigned to kongo09

[2022-04-18 08:56] kongo09 commented on #11
The WiFi firmware seems to be the latest from Philips.

I think the next bit to look into is the question why the preset modes are always empty. Before controlling anything, you should at least see the current data. Can you post a full log of the device response. It should be a show up if you enable debug logging in HA for the integration.

[2022-04-19 09:13] ocso opened #17 "Question on reconnect fix"
Hi @kongo09,

do you plan to merge "timer" branch back to the master? I have been on "[v0.9.3-beta.1](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.9.3-beta.1)" since you published. Before that release my AC2729 continuously disconnected from HA. After your code change no issue occurred, it reconnects correctly even if I turned off for hours, etc. Values are updated correctly

[2022-04-19 09:20] kongo09 commented on #17
That's great to hear. I wasn't entirely sure as I had some problems myself. I'd love to merge it eventually and I'll take another look.

[2022-04-19 09:27] ocso commented on #17
Thank you, it seems to be stable for me.

[2022-04-22 05:13] GentleGiantSoftware commented on #17
I just stated to use this integration a few days ago and very pleased to see all the work done on this. My AC3829/10 (which is always on) stops being updated in HA after a few hours. If I see the sensor readings are no longer updated I go to the integrations page and do a reload. Sometime this works, but often I only get a single new reading so seems the connection is there, but then again no more

[2022-04-22 05:40] kongo09 commented on #17
Unfortunately, to my knowledge, that doesn't work. The device uses the CoAP protocol and while it used to work well in the past, it got very instable after a forced firmware update. I'm not an engineer enough to debug this on protocol level.

Sometimes I have weird effects like readings still working but I cannot send any command. It's really sad.

I tried to contact Philips along several avenues

[2022-04-22 07:34] ocso commented on #17
@GentleGiantSoftware, have you tried using "[v0.9.3-beta.1](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.9.3-beta.1)" release? I had the same issue when using other versions.

[2022-04-22 11:02] GentleGiantSoftware commented on #17
Hi Osco, in HACS I only see v0.9.6 and later, I was running v0.9.7 just loaded v0.9.7-beta.3 to see if that improves it, or do you suggest to revert specifically to v0.9.3-beta 1?

[2022-04-22 11:24] ocso commented on #17
Hi @GentleGiantSoftware,

You need to select "Show beta versions" checkbox to make those releases visible:

![image](https://user-images.githubusercontent.com/10939127/164705526-93c0e4fc-7ee1-4df0-9243-74f91ca343f3.png)

I meant using the specific "v0.9.3-beta.1" release, not the latest.

[2022-04-22 11:58] GentleGiantSoftware commented on #17
Hi @ocso, I don't see the v0.9.3-beta.1, I do see other betas.
![image](https://user-images.githubusercontent.com/19820107/164709900-284534c3-a6a8-4bb6-bc75-373e2bbff6f2.png)
Can I just download from github and just overwrite the custom_components folder or will that fail?

[2022-04-22 12:04] ocso commented on #17
Yes, you can download and overwrite it, hacs is doing the same.

[2022-04-22 12:20] GentleGiantSoftware commented on #17
Hi osco, that seems to be running fine. I now see for instance humidity updates coming in every 2 - 15 seconds (sometimes up to 25 seconds) but at least seems to be running. Will keep you posted, thanks for all the support!

[2022-04-22 13:21] kongo09 commented on #17
That's great. Please observe this for a few days. I'm still struggeling with the beta and my two devices, so I wasn't sure if I should bring it into the main release, but the more people find it stable, the more confidence this gives. Please also observe your logs for any anomalies or errors.

Oh, and don't try the other betas / alphas. For whatever reason some stuff doesn't work for me locally in

[2022-04-23 10:47] kongo09 opened #18 "Switch on without feedback"
Posted here: https://community.home-assistant.io/t/philips-air-purifier/53030/346?u=kongo09

Because the only way to power it off is to set a preset (like auto) and then push 2 times the power button (one to set on in HA and the other to really power off the machine).

[2022-04-23 11:10] kongo09 commented on #18
To better understand this, please enable debug logging so that we can see the full communication.

[2022-04-23 20:08] lwd1991 commented on #11
Concerning: "Set preset" commands to "auto", "night", or "allergen" have no effect.
As Im also using the AC1214 and experienced the same issue.

Found the following lines in Philips.py line 372

[code]

Removed: PHILIPS_POWER: "1" on all lines
Changed for TURBO: PHILIPS_MODE: "T", to PHILIPS_MODE: "M",

I have no further knowledge on the subject, just edited this(trail and error) to get my automat

[2022-04-23 21:09] kongo09 commented on #11
Yes, you find the right place where the specific settings for the AC1214 are defined :-)

The `PHILIPS_POWER: "1"` is supposed to make sure that the device can switch on should it be off when setting one of the modes. It feels strange that you remove it. Just to be clear: you eliminate that bit and when the device is off, you can still select a preset mode and the device switches on in that select

[2022-04-23 21:14] kongo09 commented on #11
@lwd1991 what might be insightful is if you enable debug logging or directly try to use `aioairctrl` from the command line to report back the answer message from the device for the various preset modes. Can you post that here?

[2022-04-23 22:12] lwd1991 commented on #11
No, after removing PHILIPS_POWER: "1" device does not switch on when selecting preset.
Observed the following:
- Remove PHILIPS_POWER: "1"; enables AUTO, ALLERGEN and NIGHT to be selected and all function as should, but device does not switch on when selected.
-  Leaving PHILIPS_POWER: "1" in; selecting preset has no effect on the mode (no reaction from device when switched on) but does switch on

[2022-04-23 22:36] kongo09 commented on #11
Hm, very fascinating. Thanks for clarifying. That feels like switching on and selecting the preset have to be separate actions and cannot be done in one call.

With Turbo mode, I'll change the setting. If that breaks for other AC1214 owners, I'll probably hear from them ;-)

[2022-04-24 07:42] tebra-jl opened #19 "Sound control ?"
Hi,
Is it possible to enable or disable the sound of the airpurifier with this integration ?

AC2729/10
Firmware: AWS_Philips_AIR@69.1

[2022-04-24 19:11] kongo09 commented on #19
I'm not aware that this is possible on any device. I don't think it's an option on the Clean Home+ app either.

If you have any information pointing to an API to make this happen, please reopen the issue with more details.

[2022-04-24 19:11] #19 closed, assigned to nobody

[2022-04-25 08:37] ocso commented on #17
@kongo09  Just a feedback, I found the following error in a log, only once per day:

[code]

[code]

But everything works without issue.

[2022-04-25 08:59] kongo09 commented on #17
I've done a new beta v0.9.9-timer.2 that is otherwise up-to-date with the rest. Can you check if the error shows with that one as well? Most probably yes...

[2022-04-25 09:26] GentleGiantSoftware commented on #17
Hi @ocso, a few days later and v0.9.3-beta 1 is still running fine, sensor readings are being updated and controls work.
Did not find any log entries with airpurifier or aiocoap in text.
So whatever you did in this version is stable for me!

[2022-04-25 09:29] ocso commented on #17
Hi @GentleGiantSoftware,

good to hear that, I have not done anything in code, I just suggested that version as an end-user. It has been done by @kongo09, great work.
I am trying now the new release with this fix: v0.9.9-timer.2

[2022-04-25 10:59] kongo09 commented on #17
The credit for the timer work goes to @mhetzi https://github.com/kongo09/philips-airpurifier-coap/pull/5

[2022-04-28 07:36] pxuxmxa commented on #18
Also faced with the problem of AC3829/50.
There is also a problem when turning on/off the light. philips-airpurifier-coop - v.0.9.9.
Enabled logging. By the word make grep? The whole log is very large

[2022-04-28 08:17] kongo09 commented on #18
You can disable all other logging out set it to error

[2022-04-28 09:10] pxuxmxa commented on #18
The log is in the attachment. When switching on /off, the action occurs. But the status returns after two seconds
[home-assistant.log](https://github.com/kongo09/philips-airpurifier-coap/files/8581287/home-assistant.3.log)

[2022-04-29 11:05] kongo09 commented on #18
@pxuxmxa looking at your log file, what exactly went wrong when you recorded this?

- I can see that the device reports its status as `on` when it initially gets configured by HA during startup.
- Then a number of status readings come trickling in.
- Finally, you are sending a few commands to the device:
  - switch-on display backlight
  - set light brightness to 0
  - switch-off power
  - switch-

[2022-04-29 11:29] pxuxmxa commented on #18
Yes, that's right. In this case, the commands are executed successfully

[2022-04-29 11:37] kongo09 commented on #18
The original ticket was about the device switching on when asked, but HA reverts to showing the device as off.

Can you replicate that with a log?

[2022-04-29 12:44] pxuxmxa commented on #18
In the attachment. HA remembers the status after reboot. I turn off the device. Rebooting HA. After that, I turn on the device
[home-assistant.log](https://github.com/kongo09/philips-airpurifier-coap/files/8590821/home-assistant.4.log)

[2022-04-30 10:02] CrashOverride-Git commented on #18
Hello, this is my log (hope it will help)

[home-assistant.log](https://github.com/kongo09/philips-airpurifier-coap/files/8596633/home-assistant.log)

[2022-04-30 10:03] CrashOverride-Git opened #21 "Preset mode as entities"
Hello, is it possible to automatically create the entities for the _each_ preset mode?

edit, added _each_

[2022-05-02 07:41] ocso commented on #17
@kongo09 I tested v0.9.9-timer.2 branch and caused some known issues like, sensors are updated but device did not accept any command (HA restart solved the problem). I have not found any error or warning in the logs.
So I rollbacked to "[v0.9.3-beta.1](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.9.3-beta.1)"

[2022-05-02 07:48] kongo09 commented on #17
I know that effect as well, but as far as I understand, it has nothing to do with the timer, but is just one of the messed-up states the device can go into. I believe it keeps broadcasting, but it doesn't accept any direct calls via CoAP protocol.

What the timer might do is allow the sensors to keep going even though the commands don't work anymore, while before everything was gone. But then a HA

[2022-05-02 07:51] kongo09 commented on #17
I forgot to answer this, sorry: The manual poll is even more unstable. There is a call in the protocol to get the data. That is actually used during setup to figure out what capabilities the device has and model it is. But sometimes, this just hangs and the device never responds to the call, while it keeps broadcasting its sensor values.

[2022-05-03 07:43] kongo09 commented on #21
I'm not entirely sure if I understand what you mean?

[2022-05-03 07:52] kongo09 opened #23 "switch mode and power in separate calls for AC1214/10"

[2022-05-03 07:53] kongo09 opened #24 "set speed by switching to `allergen` first for AC1214/10"

[2022-05-03 07:53] kongo09 commented on #11
I'd like to bring some structure into this. As far as I understand, we have three issues and three hypotheses for solutions:

- [x] `turbo` mode needs code `m` on this device: fixed
- [ ] switching mode and power in the same call doesn't work: #23
- [ ] setting speed from `auto` or `night` doesn't work: #24

[2022-05-03 08:41] kongo09 commented on #23
please try v0.10.1-beta1214.1

@lwd1991 can you please try and see if this fixes this particular problem?

[2022-05-03 09:34] kongo09 commented on #17
I'll close this now, as timer code is merged and new release v0.10.0 is out

[2022-05-03 09:34] #17 closed, assigned to nobody

[2022-05-03 09:46] kongo09 opened #25 "HA hangs during device setup if device is not responsive"
During setup of entry at HA start devices might not be responsive and thus hang the process.

- Try to detect this situation and let HA continue setup
- Use callback to complete setup once the device is online / answers

[2022-05-03 11:48] lwd1991 commented on #23
Installed: v0.10.1-beta1214.1
Unfortunately, it does not fix this particular problem.

- When power off: selecting AUTO, ALLERGEN or NIGHT powers on the device but does not switch to correct mode (still in latest mode before power off).
- When power off: selecting Speed 1/2/3/t does switch selected speed (viewed in Phillips home iOS app), but does not switch on device.
- When power on: Switching b

[2022-05-03 13:08] kongo09 opened #26 "Unclean shutdown of timer"
Shutting down HA can lead to loads of error messages about the timer:

[code]

[2022-05-03 13:09] kongo09 commented on #26
@mhetzi have you seen that before?

[2022-05-03 16:49] kongo09 commented on #25
On the current core-2022.6.0.dev0 there doesn't seem to be a hang anymore. If the device is not online, HA tries repeatedly in the background without blocking. Maybe this is solved on a higher level?

[2022-05-03 17:10] mhetzi commented on #26
sometimes but my homeassistant hangs so much on shutdown, that systemd is killing it.
(these hangs are not from this integration)

possibly connected with [issue on async_unload_entry](https://github.com/home-assistant/core/issues/61479)?

[2022-05-03 17:30] kongo09 commented on #25
Hm, there seem to be two different cases:
- `async_setup_entry` is called, but we cannot get a valid `CoAPClient` -> throwing the `ConfigEntryNotReady` exception causes HA to continue with the rest of the startup and retry this setup in the background
- if we get past this stage, a `Coordinator` is created, which will then be asked to `async_first_refresh` -> this is where it hangs. The timer even

[2022-05-03 17:44] kongo09 opened #27 "aiocoap AttributeError"
Sometimes, `aiocoap` reports some errors:

[code]

[2022-05-04 11:38] kongo09 commented on #23
Thanks for the feedback. I'm a bit irritated that you say your remove "PHILIPS_POWER" as that should have been removed in the AC1214 code already. That was the whole point of the beta. Are your sure the update to the beta worked for you?

The file `philips.py` should have the following code for the AC1214 now:

[code]

[2022-05-04 11:42] kongo09 commented on #23
apologies, I think it was my mistake, doing a wrong release. Please check the new `v0.10.1-beta1214.2`

[2022-05-04 16:43] CrashOverride-Git commented on #21
I mean, to have the ability to change the mode instead having the preset_mode and select the mode from a submenu

Something like this:
If I want to power on the device in auto I can push the second last button (pressed and on in the example below), or if I want to power off the device I can push the first button and so on.

I did it in javascript but having the entitities directly from the compone

[2022-05-04 16:58] kongo09 commented on #21
Oh, you can already do that with services

[2022-05-04 17:15] pxuxmxa commented on #18
@kongo09
After updating to 0.10.0, the problem is almost solved. But after restarting HA, the first time the device statuses are not correct. But then everything is restored

[2022-05-04 17:57] kongo09 commented on #18
Ok, so can I consider this to be solved?

Normally, HA should quickly adjust the state after startup. Unless of course you run into the connectivity problem, which doesn't have a solution.

[2022-05-04 20:54] pxuxmxa commented on #18
@kongo09
2022-05-04 23:37:23 - start HA
2022-05-04 23:38:19 - ON AC3829.The device turned ON but the status is OFF
2022-05-04 23:40:39 -  The device status has changed to ON
The device starts working correctly after reconnecting the 180s
full log in attachment
[home-assistant.log](https://github.com/kongo09/philips-airpurifier-coap/files/8627106/home-assistant.5.log)

[2022-05-04 20:55] kongo09 commented on #27
Do you get this at startup or shutdown or out of the blue?

[2022-05-04 20:56] kongo09 commented on #26
https://github.com/kongo09/philips-airpurifier-coap/issues/27#issuecomment-1117886563

[2022-05-04 21:01] riker09 opened #28 "Unable to pull some resources during setup"
Hello and first of all thanks for taking over the great work done by @betaboon and @Denaun

I have remove the old integration from `/config/custom_components/philips_airpurifier_coap/` and added your repo as a new custom repo in HACS (removed the old repo first, of course). During setup I get this error message inside the HA log:

[code]

I can download those files just fine. Even from within the

[2022-05-04 21:33] mhetzi commented on #27
@kongo09
do you think, using a fixed timeout value is a problem? We have a maximum update time in the library ( i used this field to get value of 180 seconds, 60 seconds * 3 missed updates)

[2022-05-04 22:28] kongo09 commented on #21
use [custom:button-card](https://github.com/custom-cards/button-card)

![image](https://user-images.githubusercontent.com/640121/166835534-8e107f89-2d56-4d71-ae21-1ec83f71bc83.png)

[code]

[2022-05-04 22:28] #21 closed, assigned to nobody

[2022-05-04 22:31] kongo09 commented on #28
Thanks for keeping an eye on this. Looks like a HACS or HA problem to me.

[2022-05-05 10:12] kongo09 commented on #24
more info: https://github.com/kongo09/philips-airpurifier-coap/issues/23#issuecomment-1116008566

[2022-05-06 17:26] riker09 commented on #28
I have looked into this, or better, I have tried to look int o this as promised. The log messages mention four files that cannot be downloaded:

* `philips_airpurifier_coap/icons/pap/allergen_mode.svg`
* `philips_airpurifier_coap/icons/pap/auto_mode.svg`
* `philips_airpurifier_coap/icons/pap/auto_mode_button.svg`
* `philips_airpurifier_coap/fan.py`

All files are there when I `ls -hal custom_compo

[2022-05-06 17:26] #28 closed, assigned to nobody

[2022-05-06 19:18] kongo09 commented on #27
These are not errors but just debug output in loglevel `info`. You can ignore that. Eventually, we can tidy this up.

[2022-05-06 19:21] kongo09 commented on #27
I was wondering that, too. Also, 180s is quite long. In my experience the device either comes back rather quickly or it is gone for good. Do you see an alternative? Or just a reduction?

[2022-05-06 19:24] kongo09 commented on #27
Yes, that happens when there is no connection to the device. Also see: https://github.com/kongo09/philips-airpurifier-coap/issues/25

I was wondering if the setup can be put into the background. The `shelly` integration does that for battery powered devices that are not always online. And then uses a callback to complete the setup once data comes in

[2022-05-06 19:26] kongo09 commented on #26
I'll put some logging into the unloading. Is there a way to stop the timer process before it can run into this exception?

[2022-05-06 19:29] kongo09 commented on #28
I've never seen these problems and nobody else ever mentioned that. Maybe you've run into throttling with github?

[2022-05-06 20:27] mhetzi commented on #27
@kongo09
https://github.com/kongo09/aioairctrl/pull/1
https://github.com/kongo09/philips-airpurifier-coap/pull/29

These changes would use the max_age value from the device, a far a i understand the device ensures to send at this intervall if no sensor values changed

you can change the missed package multiplier here:
in file custom_components/philips_airpurifier_coap/philips.py on line 34: MISSED

[2022-05-08 09:56] eugenedani opened #30 "Please add AC3055"
Hello,
Please add AC3055. It is the same as AC3059 but just smaller size.
I could setup AC3059 in yaml file for my AC3055 when I use  betaboon repository, but because here it is not in list of models I cannot add this integration. I receive "Model unsupported" error message despite the fact that it is the same as AC3059

[2022-05-08 15:12] kongo09 commented on #27
@mhetzi
I've done a new beta with your changes: `v0.10.1-beta`

[2022-05-08 15:12] kongo09 commented on #30
released new version `v0.10.1`

[2022-05-08 15:12] #30 closed, assigned to kongo09

[2022-05-08 15:19] kongo09 commented on #27
Hm, I must have made an error, or the library didn't update properly:
![image](https://user-images.githubusercontent.com/640121/167303048-32481c86-8d5c-45bb-b4ba-a26a2b6a235e.png)

[code]

[2022-05-08 17:29] mhetzi commented on #27
Most likely the lib.
do you see the max_age log? something like this:

`Mai 08 08:21:26 xeon python3[450813]: 2022-05-08 08:21:26 ERROR (MainThread) [aioairctrl.coap.client] response = <aiocoap.Message at 0x7f87646bfd30: Type.NON 2.05 Content (MID 8913, token fc04) remote <UDP6EndpointAddress 192.168.57.91 (locally 192.168.57.219%bond0_iot)>, 3 option(s), 1480 byte(s) payload>

Mai 08 08:21:26 xeo

[2022-05-08 17:41] mhetzi commented on #27
Beta release works, with modified lib, updating via hacs did not update the lib only the component

[2022-05-08 19:19] eugenedani opened #31 "model AC3055 fails to connect"
Thank you for adding 3055 to the list but unfortunately it still does not work.  I cannot add it by device IP address.
The error message:

Logger: coap
Source: /usr/local/lib/python3.9/site-packages/aiocoap/transports/udp6.py:525
First occurred: 21:05:10 (2 occurrences)
Last logged: 21:09:44

Connection loss was not expected.

[2022-05-08 21:01] kongo09 commented on #27
I'm struggling with the correct requirements line to update the lib. Sorry, not enough experience. Any idea?

Updating it by hand leads to new errors in the HA log:

[code]

and

[code]

do you see those as well?

[2022-05-09 20:22] mhetzi commented on #27
Sadly never played with custom integration, until this reconnect problem really got on my nerves, sorry.

The first comes from the cancelling we do in case of timeout.
the second one comes from time to time, even without my changes. had them since the integration came out (betaboon not yours).

so no new errors, for me at least....

[2022-05-09 20:44] kongo09 commented on #27
I'll just merge it into main

But if you could help eliminating these errors, that would be great. I just lack the experience

[2022-05-10 11:33] kongo09 commented on #31
Can you please enable the debug log for `aioairctrl` and `philips_airpurifier_coap` in `configuration.yaml`?

[code]

and share the result. Also, please unplug and replug your Philips device and restart HA before you try to add it. The Philips devices have a connectivity problem.

[2022-05-10 11:43] kongo09 commented on #18
I don't see a problem in your log, but maybe I don't understand it correctly:

[code]

The first data that arrives in HA is from 2022-05-04 23:37:39 when HA starts. The data says, the device is OFF: `'pwr': '0'`

[code]

You send the ON command at 2022-05-04 23:38:19: `"pwr": "1"` and the device struggles a bit with the connectivity problem (`set_control_value failed. retrying...`) but then reconn

[2022-05-10 11:43] #18 closed, assigned to nobody

[2022-05-10 11:44] kongo09 commented on #11
Can someone with an AC1214 please check `v0.10.1-beta1214.2` and report back what works and what doesn't?

[2022-05-11 08:07] KrizzeOne opened #34 "Model AC2889 fails to connect"
Hi,
I didn't want to add this to the existing issue #31 so I start a new one.

I bought a AC2889/10 and I was very happy to find a custom integration for the air purifier. Thanks for that!
But I have a connection problem too.

My HA is up to date. (`core-2022.5.3`).
This repo is up to date (`v0.10.1`) and when I try to add it as an integration I get this.

[code]

[2022-05-11 10:21] kongo09 commented on #34
Are you sure this is related to this integration? I cannot see any reference to `philips_airpurifier_coap` in your log, but rather to `fritzconection` and `fritz`

[2022-05-11 11:29] KrizzeOne commented on #34
I'm sorry,
I took blindly the most recent lines out of my logs.

When I try to register my purifier via IP, I get a `Timeout, cannot connect to device`.
Now, with related logs :)

[code]

[2022-05-11 11:31] KrizzeOne commented on #34
My fritz.box shows `[Philips-DHCP-Client](http://192.168.178.39/)` and this is the IP I took.

[2022-05-11 12:54] kongo09 commented on #34
This could be the connectivity problem. Try to power cycle your Philips device and then connect again. The timeout happens when the device doesn't answer.

[2022-05-11 13:01] KrizzeOne commented on #34
I forgot to mention that this error is independent from Purifier power status.
I tried it in both cases and I always get the timeout.

[code]

[2022-05-11 15:54] kongo09 commented on #34
I didn't mean power status. I meant: switch the device off, wait 10 secs, switch it back on. Then restart HA and see if it works.

[2022-05-11 16:46] KrizzeOne commented on #34
Done.
- Unplugged, 10 sec wait, plug in, device not activated, HA restart, add purifier: No success
- Device activated, HA restart, add purifier: No success

Same error, more logs.

[code]

[code]

[code]

[2022-05-11 16:58] kongo09 commented on #34
Two questions:

- can you ping it from the HA machine?
- did it ever work with any other integration?

[2022-05-11 17:04] KrizzeOne commented on #34
1. Yes: HA Terminal with ping 192.168.178.39 received data
2. I tried yours first. Do you have a - maybe - working alternative for me?

[2022-05-11 17:10] kongo09 commented on #34
No good suggestion, sorry

Habe you tried the command line utility?

[2022-05-11 17:11] KrizzeOne commented on #34
I was talking about the the build in HA command line.

[2022-05-11 17:31] kongo09 commented on #34
I mean the `aioairctrl` utility?

[2022-05-11 17:41] KrizzeOne commented on #34
The one from your readme?
I tried it at the very beginning on my MacBook, but it's not working.

[code]

[2022-05-11 18:13] kongo09 commented on #34
yes, that's the one. Maybe I made a mistake in the README. I'll take a look and let you know. It's a simple client that is using the same library to connect to the device. If that is working, the problem is with the HA integration. If that is also not working, the problem is either with your network or your device.

[2022-05-11 21:39] kongo09 commented on #34
The instructions have been outdated. I get the same error message.

I've done an update, so please try the new instructions and let me know if that gets you reply from your device. For whatever reason, mine also just stopped replying...

[2022-05-12 07:09] KrizzeOne commented on #34
First of all, thank you for your efforts!
My python 2.7 is pretty old and doesn't include venv, so I updated to python `3.9.12` via
https://opensource.com/article/19/5/python-3-default-mac

- `python -m venv env`
- `./env/bin/activate`
- `python -m pip install aioairctrl`
- `aioairctrl --host 192.168.178.39 status --json`
-  doesn't reply neither
- Unplugged purifier and restart -> no reply

[2022-05-12 07:25] kongo09 commented on #34
Ok, so then it is not a problem of the integration but either of your network or your device

[2022-05-12 07:26] kongo09 commented on #34
Also try `status-observe`

[2022-05-12 08:09] KrizzeOne commented on #34
In which context should I use `status-observe`? Inside the virtual environment it's not available.

One question: Is it important what my browser shows when I open my purifiers IP address?
I see:
[code]

[2022-05-12 08:35] KrizzeOne commented on #34
I tried something else via https://github.com/rgerganov/py-air-control

- `pip3 install py-air-control`
- `pip3 install -U git+https://github.com/rgerganov/CoAPthon3`

I can find my fan via wifi.
[code]

[2022-05-12 11:38] eugenedani commented on #31
Hi, the errors from log

1 This error originated from a custom integration.
Logger: custom_components.philips_airpurifier_coap.config_flow
Source: custom_components/philips_airpurifier_coap/config_flow.py:86
Integration: philips_airpurifier_coap ([documentation](https://github.com/kongo09/philips-airpurifier-coap), [issues](https://github.com/kongo09/philips-airpurifier-coap/issues))
First occurre

[2022-05-12 11:45] eugenedani commented on #31
May be some ports should be open?

[2022-05-12 11:48] kongo09 commented on #31
From your logs it looks like some communication is happening. It's actually easier to read if you just copy the log of HA as it is, in order to see the entries in sequence. And I'm not just interested in errors, but the whole log including all the debug information that is printed.

[2022-05-12 11:50] eugenedani commented on #31
How can I get the whole log?

[2022-05-12 11:53] eugenedani commented on #31
Is it this?
2022-05-12 13:43:11 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.config_flow] trying to configure host: 192.168.1.80
2022-05-12 13:43:11 DEBUG (MainThread) [aioairctrl.coap.client] syncing
2022-05-12 13:43:11 DEBUG (MainThread) [aioairctrl.coap.client] synced: 4425C64F
2022-05-12 13:43:11 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.config_flow] got

[2022-05-12 11:53] kongo09 commented on #31
On the bottom of the log screen of HA there is a link to the full log:

![image](https://user-images.githubusercontent.com/640121/168069007-99a9018b-3014-4c28-a5d6-3c7b305c5c85.png)

[2022-05-12 11:57] kongo09 commented on #31
Yes, that looks like the log. But it doesn't have any error and it shows that it is receiving data from a device called `Living Room`

[2022-05-12 12:01] eugenedani commented on #31
![image](https://user-images.githubusercontent.com/30838245/168070044-416ecc71-e7d5-49b0-be19-f47ae69dc940.png)

click on submit

[2022-05-12 12:01] eugenedani commented on #31
![image](https://user-images.githubusercontent.com/30838245/168070255-54ee62fb-088d-42d5-be37-756b88281832.png)

[2022-05-12 12:03] eugenedani commented on #31
Log:

2022-05-12 14:00:31 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.config_flow] trying to configure host: 192.168.1.80
2022-05-12 14:00:31 DEBUG (MainThread) [aioairctrl.coap.client] syncing
2022-05-12 14:00:31 DEBUG (MainThread) [aioairctrl.coap.client] synced: 443FF197
2022-05-12 14:00:31 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.config_flow] got a vali

[2022-05-12 12:19] kongo09 commented on #31
The log doesn't show that the integration concludes that this model is unsupported. Can you check a few lines down? It is detected correctly: `Detected host 192.168.1.80 as model AC3055 with name: Living Room`.

[2022-05-12 12:24] eugenedani commented on #31
Ok, the question is why it shows "Model unsupported"?
and there are not any lines after line "Detected host 192.168.1.80 as model AC3055 with name: Living Room"

[2022-05-12 12:37] kongo09 commented on #31
Ah, that's helpful and interesting. I think I found the bug. Give me a few minutes and I'll do a new release that you can try.

[2022-05-12 12:44] kongo09 commented on #31
can you please check version `0.10.5`

[2022-05-12 12:52] eugenedani commented on #31
Yes, it works now!

![image](https://user-images.githubusercontent.com/30838245/168078856-97f13e16-4c1d-4a1e-80c8-9c479d3ebe69.png)

Thanks a lot for quick response

[2022-05-12 13:02] kongo09 commented on #31
Great! Hopefully, you have a stable experience. You might want to consider to disconnect the device from the internet so that it doesn't auto-update its firmware. There are so many problems with connectivity due to newer firmware...

[2022-05-12 13:02] #31 closed, assigned to kongo09

[2022-05-14 09:33] kongo09 commented on #34
Hm, that's strange. In the end, the `aioairctrl` library also goes back to the work of rgerganov. I'm a bit lost why the one works for you and the other doesn't.

[2022-05-14 09:35] kongo09 commented on #34
That's also interesting, my browser doesn't answer anything when I try to open the device. Something must be different here.

[2022-05-14 18:31] kongo09 opened #35 "reconnect error with asyncio CancelledError"
[code]

[2022-05-14 18:31] kongo09 commented on #27
It's getting a bit messy here with a number of error reports that might or might not be related.

- [ ] aoicoap Attribute error - original bug report in this issue
- [x] Runtime error, no running event loop - see #26
- [x] unpacking error - fixed by now
- [x] asyncio.exceptions.CancelledError - see #35

[2022-05-14 18:34] kongo09 opened #36 "RuntimeError: Event loop is closed on shutdown"
[code]

happens when HA is shutdown

[2022-05-14 18:34] kongo09 commented on #36
might be a problem of `aiocoap`

https://stackoverflow.com/questions/69991698/asyncio-run-gives-runtimeerror-loop-is-closed

[2022-05-14 20:02] #35 closed, assigned to nobody

[2022-05-14 20:03] #26 closed, assigned to nobody

[2022-05-15 12:32] pxuxmxa opened #38 "The status of the device does not change"
After updating v0.10.7, the problem returned, the status of the device a HA does not change.
For example: I turn off the light. Everything turns off on the device, but in HA the status is ON. In version 0.10.6, there was such a problem after rebooting ON. But after 180 seconds there was a reconnection and after that everything worked correctly

[2022-05-15 23:09] kongo09 commented on #38
Can you please downgrade and see if the problem disappears?

I worry that this is the connectivity problem and that it's just bad luck when it happens, not matter which version you are using.

[2022-05-16 09:50] pxuxmxa commented on #38
@kongo09
0.10.6 works but incorrectly. After restarting HA, I try to turn on the light. The light turns on but the status is off. After 180s, reconnection occurs and the status becomes correct (video 3:40) After that there are no problems. The connection is no longer lost. The problem is only after restarting HA
[home-assistant_0.10.7.log](https://github.com/kongo09/philips-airpurifier-coap/files/

[2022-05-18 14:02] ablohm opened #39 "AC2889/10 stops sending updates"
After updating from v0.10.1 to the latest v0.10.7 my AC2889/10 does not send any updates. I connects when HA restarts and reads the current values from the device. It can also be turned on and off but the current status is never updated in HA. So if I turn the device on the switch will be reset to off shortly after. Also values for PM25 and IAI will just be read once at startup and never update.

[2022-05-18 20:09] KrizzeOne commented on #39
I can't really help you, but I'm struggling to connect my AC2889 to HA (see #34)
Can you tell me what you did in order to connect it successfully with 0.10.1?

[2022-05-21 10:02] kongo09 commented on #39
The biggest difference from 0.10.1 to 0.10.7 is that `aioairctrl` is now loaded as a library from pypi. Maybe this installation didn't work properly for @ablohm . Did you maybe manually install `aioairctrl` on your machine? If so, where from and in what version?

[2022-05-21 10:10] kongo09 commented on #38
I'm not really convinced that the two versions make a difference here. The changes from v0.10.6 to v0.10.7 are minor and shouldn't affect turning on the light at all. My hypothesis is that this is coincidence and you might as well get it running with v0.10.7 and not running with v0.10.6. Maybe you try a few times with both versions and let me know if I'm right or not.

In the end, this might lead

[2022-05-21 10:55] djalexnl opened #40 "Problems keeping status"
I also have this integration working for some time, i notice the following since latest releases.

**Issue 1** after I restart homeassistant it hangs on loading the integration until i do something with the airpurifier, change mode on the device or turn off or on… then the integration loads and homeassistant starts… otherwise it just hangs until a timeout and the device is greyed out.

**Issue 2**

[2022-05-21 19:46] pxuxmxa commented on #38
0.10.7 has been installed for several hours. And it didn't work.
0.10.6 does not work only the first 180s after restarting HA. There is a message in the log. After it, everything works correctly
_2022-05-18 13:06:36 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.timer] Starting Timer 180s.
2022-05-18 13:06:36 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.philips] R

[2022-05-21 20:33] kongo09 commented on #38
If you can propose a pull request to fix it, I would be more than grateful

[2022-05-23 22:57] ablohm commented on #39
After updating to the latest core-2022.5.5 and Home Assistant OS 8.1 I could reinstall the latest version of the integration successfully and the data started updating. Sadly the updates stopped after a few hours and have not worked since. I restarted HA and the air purifier to no avail. The data seems to be read only once after the restart of HA.

[2022-05-25 10:13] pxuxmxa commented on #38
@kongo09
I can't run the project in IntelliJ IDEA :( At startup, I installed the aioairctrl and homeassistant packages. Is there anything else required to run? Can you tell me what the problem is?

`C:\Users\pxuxmxa\AppData\Local\Programs\Python\Python38\python.exe C:\Users\pxuxmxa\AppData\Roaming\JetBrains\IdeaIC2022.1\plugins\python-ce\helpers\pydev\pydevd.py --cmd-line --multiprocess --qt-suppo

[2022-05-25 14:28] ablohm commented on #39
Tonight the purifier started sending updates, but again stopped after a few hours. In the log I see this message:
`Timeout, host 192.168.1.100 looks like a Philips AirPurifier but doesn't answer, aborting`

[2022-05-27 13:25] pxuxmxa commented on #38
@mhetzi
Due to the addition of the condition, the device status stopped being displayed correctly for me. Previously, 180c after the HA reboot, the status was displayed correctly. Now even after 180 the status is incorrect. Need help :) If the condition is removed, everything will work again

[code]

[2022-05-27 18:55] mhetzi commented on #38
@pxuxmxa could you test this. Sorry didnt notice this error. Device is mostly in standby when its warm outside.

[2022-05-29 12:24] pxuxmxa commented on #38
@mhetzi
The problem that the first 180c statuses do not change, remains. But after that everything works correctly. It suits me as it is. Thank you:)

[2022-05-29 15:26] kongo09 commented on #38
Thanks, I'll merge it later then

[2022-05-30 09:28] kongo09 commented on #38
`v0.10.8` released. I'll close this then, ok?

[2022-05-30 09:28] #38 closed, assigned to nobody

[2022-05-30 09:29] kongo09 commented on #40
Does `v0.10.8` make a difference for you?

[2022-05-30 09:34] kongo09 commented on #39
@ablohm The timeout message you observe has nothing to do with your device failing to update. This is the timeout message that happens when HomeAssistant discovers something on the network that looks like a Philips AirPurifier (based on DHCP) and then the integration tries to talk to it to find out if it can auto-configure it. If the device doesn't answer (because it is not an AirPurifier or it is

[2022-05-30 09:35] kongo09 commented on #39
Concerning your other observations, this looks very much like the connectivity problem that bugs us all. It's beyond me to fix this, so I'll close this issue.

[2022-05-30 09:35] #39 closed, assigned to nobody

[2022-05-30 09:39] kongo09 commented on #40
The log doesn't show that it hangs on loading. Please write a separate issue for that with a log that shows what is going on. I'll change the title to reflect the second issue.

[2022-05-30 09:41] kongo09 commented on #40
And can you please enable logging for the integration with:
[code]

[2022-05-30 13:13] djalexnl commented on #40
Hi Thanx for the responce.

I updated the integration.

Same issues remanes sadly
I did the following steps:

I removed the integration and the device entirely from HA to make a clean install and test.

I installed the latest repository, rebooted and added the integration.

[code]

**Then I restarted home assistant and same issue occurs....**

[code]

**After Two minutes HA finaly starts after the

[2022-05-30 22:11] ablohm commented on #39
The IP address from the timeout message is the correct address of the purifier. The integration was configured with this addess, it is not a new device that was discovered by HA.

[2022-05-31 07:07] kongo09 commented on #39
Yes, that's what I tried to say. It discovers your existing device.

[2022-05-31 07:10] djalexnl commented on #40
I Also see this in the loggin this morning:

[code]

**I can Control the Airpurifier with Home Assistant. The logging says every few minutes timeout callback reconnecting etc.
is this supposed to happen?**

Grtz Alexander

[2022-05-31 08:09] kongo09 commented on #40
The first log (two posts up) shows how the integration sets up itself. What is irritating is, that you first get a timeout but then still see how the entities are all setup. So I assume, it times out but then still gets a connection to the device. Otherwise, it wouldn't go into the setup mode.

The seond log (two posts up) shows how the system discovers your device through autodiscovery (DHCP). Bu

[2022-05-31 08:09] #40 closed, assigned to nobody

[2022-05-31 20:05] Jaguaza opened #42 "Support request Model AC1715/11"
Hi @kongo09. I would like if you could add support for this device.

I am a bit clumsy with this but I will perform all the actions you ask me to do.

My device has wifi firmware:67.5 and device firmware: 0.6.0.

Thanks for everything, my pleasure.

[2022-06-01 17:38] jmtatsch commented on #34
I have exactly the same device AC2889/10 and the same problem here. aioairctrl also doesnt produce anything for me.

[2022-06-01 18:00] jmtatsch commented on #34
So the problem seems to be that AC2889/10 is an older device that only supports http protocol not coap or plain_coap.
You can see that when you play around with the old airctrl:

This works `airctrl --ipaddr 192.168.179.70 --protocol http`
This doesnt `airctrl --ipaddr 192.168.179.70 --protocol coap`
This doesnt `airctrl --ipaddr 192.168.179.70 --protocol plain_coap`

aioairctrl readme also states

[2022-06-01 18:04] jmtatsch commented on #34
We should probably use this integration https://github.com/GeorgeSG/philips_airpurifier_http

[2022-06-02 14:24] kongo09 commented on #34
You are right, the library here only supports encrypted coap. However, I also have an AC2889/10 and it works with this integration.

[2022-06-02 14:28] kongo09 commented on #34
By the way, which firmware version are your devices running? Maybe you are lucky that your device was never online to download the latest Philips firmware, which introduces all the connectivity problem. If you have an old firmware that doesn't have encrypted coap but works with the other integrations you should consider yourself lucky and make sure you never by accident go online with the device s

[2022-06-02 14:34] kongo09 commented on #42
I can try to add support for this model, but I will need your help as I don't have access to such a device. But don't worry, hopefully it is not too complicated.

It all depends on your device communicated with encrypted coap. We need to figure out if that works and what settings the device is using. The way to find out is described in the README:

https://github.com/kongo09/philips-airpurifier-co

[2022-06-02 17:42] KrizzeOne commented on #34
@kongo09 :
- WLAN-Firmware: `14`
- Device-Firmware: `1.0.4`

I'm surprised by the firmware version. I thought that it will update automatically as soon as it is connected to my wifi.

@jmtatsch
I can confirm the same behavior with my device and network when running the commands you mentioned.

I tried the integration you proposed. It doesn't work:
- Add custom repo via HACS
- Install via HACS
- Re

[2022-06-02 17:49] kongo09 commented on #34
My AC2889 has the following firmware
- WiFi 69.1
- device 1.0.7

So there seems to be a fundamental difference. Even though this integration here doesn't work for you, I'm sure you're better off with the older firmware. Maybe you get the http integration to work...

[2022-06-09 21:13] SamJongenelen opened #43 "Ac1214/10 presets missing"
Hello, thank you for taking the time to maintain this fork.
I have an issue that i already had on Betaboon branch:

Modes `auto` `allergen` and `night` are not working.
`1`, `2`, `3` and `turbo` are.
The not working presets are actually not presets of course, and are not simply fan speed controls

Could you please add support for these modes/presets?
Or would there be any way to set my device to a

[2022-06-09 21:31] kongo09 commented on #43
Please check #23

And please report back in #23 of this release helps: v0.10.1-beta1214.2

[2022-06-11 00:48] Jaguaza commented on #42
[code]

[2022-06-11 00:49] Jaguaza commented on #42
@kongo09  this is what you need?

[2022-06-12 11:36] kongo09 commented on #42
Oh, in theory yes, But this looks totally different from all other models. I've never seen these `D0x-0x` codes before and don't know what they mean.

[2022-06-12 14:00] Jaguaza commented on #42
Do you need anything else?

[2022-06-20 16:21] Jaguaza commented on #42
@kongo09

[2022-06-27 06:34] Jaguaza commented on #42
@kongo09 Hi, sorry to be so insistent.

Can you finally add this model to home Assistant?

Thanks for your work, it is appreciated.

[2022-06-27 06:43] kongo09 commented on #42
As I said, I don't know what the codes mean, so I cannot add it.

You could try and change one seeing at a time on your device and then observe how these values change to find out, what corresponds to what. Essentially, it is always key-value pairs. So you would change to night mode for example and then pull the data as before and take note, which key changed to what value.

[2022-06-27 12:34] JoernBerkefeld opened #44 "older AC2889/10 not found"
i actually have 2 of these things. one bought years ago and one bought just a few months ago.

the "newer" model came with firmware `1.0.7` (wifi firmware AWS_Philips_AIR@69.1) and while it takes longer for that one to show up in their "CleanHome" app, it is found correctly by your integration.
the "older" model came with firmware `1.0.4` (wifi firmware 14) and cannot be found.

Via Alexa skill bo

[2022-06-27 13:09] kongo09 commented on #44
Maybe it does not work with encrypted CoAP then? Have you tried the command line tools from rgerganov?
https://github.com/rgerganov/py-air-control

[2022-06-27 21:51] Jaguaza commented on #42
Hi @kongo09,  here's what I've managed to get out of it.

Do you have more experience, do you miss any data?

The light changes two digits when I switch on and off.

And I did not find the value of the % of filter change, only the cleaning.

Let me know so I can continue to make progress.

D03-32 = Allergens Index (NUMBER)
D03-33 = PM2.5 (NUMBER)
D03-02 = POWER (ON - OFF)
D03-12 = MODE ( Auto Gene

[2022-06-28 09:02] kongo09 commented on #42
Here is the data from my two devices. It might give you an idea of what the fields could mean:

[code]
and
[code]

[2022-06-28 10:11] kongo09 commented on #42
I found the description of the functions:

<img width="322" alt="image" src="https://user-images.githubusercontent.com/640121/176154164-7502c4d6-ab32-4f2e-bede-cec70f3bde0b.png">

[2022-06-28 10:48] kongo09 commented on #42
Field | Value | Mapping | Comment
------|-------|-----------|------------
  "D01-02" | "Purifier product" | ?
  "D01-03" | "CALIDAD AIRE" | "name"
  "D01-04" | "Nala" | ? |
  "D01-05" | "AC1715/11" | "modelid"
  "D01-07" | "English" | "language"
  "D01-08" | 2 | ?
  "D01-09" | 1 | ?
  "D01-10" | 0 | ?
  "D01-11" | 0 | ?
  "D01-20" | "0.0.1" | ?
  "D01-21" | "0.6.0" | "swversion" | firmware version

[2022-06-28 10:52] kongo09 commented on #42
I'll complete the table above as you figure out the fields. Can you please:

- check if D03-11, D03-12 and D03-13 all three change, when you change the mode, and give me the exact values for each of these three fields when you cycle from Auto -> Sleep -> Speed 1 -> Speed 2 -> Turbe
- check if D03-42 and D03-43 both change when you change your preferred index - and if D03-44 always stays 7
- check

[2022-06-28 11:49] JoernBerkefeld commented on #44
for **the older one** that does NOT work with your solution i got the following (`airctrl --ipaddr x.y.z.q` **no coap**):

![image](https://user-images.githubusercontent.com/1917227/176170188-406a694d-12c2-4b25-8be6-ea93bbfaf108.png)

when I tried adding `--protocol coap` or  `--protocol plain_coap` i got a nasty stack trace with either time-outs or connection denied errors.

----------------

UPD

[2022-06-28 12:18] kongo09 commented on #44
That means the old one is definitely not supported

The new one however should work

[2022-06-28 13:33] #44 closed, assigned to nobody

[2022-06-28 13:35] kongo09 commented on #43
Does the beta help? Can I close this here?

[2022-06-28 13:38] kongo09 commented on #34
I'll close this now as we figured out that the model does not support encrypted coap.

[2022-06-28 13:38] #34 closed, assigned to nobody

[2022-06-28 22:06] Jaguaza commented on #42
@kongo09

**_"D03-11": "A", "D03-12": "Auto General", "D03-13": "1",
"D03-11": "A", "D03-12": "Sleep", "D03-13": "s",
"D03-11": "A", "D03-12": "Turbo", "D03-13": "s",
"D03-11": "A", "D03-12": "Gentle/Speed 1", "D03-13": "t",
"D03-11": "A", "D03-12": "Speed 2", "D03-13": "1",_**

**_D03-42 and D03-43 YES.
"D03-42": "IAI", "D03-43": "IAI",
"D03-42": "PM2.5", "D03-43": "PM2.5",_**

**_D03-44 always s

[2022-06-29 07:37] JoernBerkefeld commented on #44
ok, thank you. would you happen to know if there are other integrations that work with my old friend here? Doing that with Alexa is cool I suppose but would rather keep things in one system

[2022-06-29 10:32] kongo09 commented on #44
There are a number of integrations around but I don't really know what state they are in. None offers all the functionality of this one. So I feel, options are limited. I lack the time and motivation to integrate the older devices, but if someone does a pull request, I'd be more than happy to consider that.

[2022-06-29 10:41] kongo09 commented on #42
Thanks, we're getting somewhere!

I'm not really sure what the D03-44 means. It used to be 7 in our first example, now it is 4. What is different?

I'm also not clear about the speed settings. D03-13 seems to be "1" for both, auto and speed 2. Also, you say it is "s" for Sleep, but also for Turbo. In your last example, it was "t" for Turbo, but now you say that's for speed 1. Can you please double

[2022-07-18 15:13] ronald-chun opened #45 "Model support for AC4558/31"
Hello, thank you for developing this awesome integration for HA
I hope you can support my device model AC4558/31 in the future.
Thanks a lot!!

[code]

[2022-07-19 14:05] kongo09 commented on #45
I'm happy to take a look at this, but probably not over the holidays.

[2022-08-05 19:00] SamJongenelen commented on #43
Sorry, havent been able to check the beta yet.

edit2: found the beta

[2022-08-05 19:53] SamJongenelen commented on #43
[code]

Is what i get when running the beta version

[2022-08-08 07:03] Xitro01 opened #46 "Stopped working since 2022.8.2"
Hi,

Your integration was working flawlessly, but since the last update of HA (2022.8.2) the integration stopped working.
I'm getting the following error message from the integration page: [Errno 113] received through errqueue

[2022-08-08 07:17] kongo09 commented on #46
Will check once back from holidays. Any idea what that means?

[2022-08-08 07:23] Xitro01 commented on #46
Not really, my logs say the following:

[code]

Looking at the changes that they made, I can't really find anything that could be the issue.

[2022-08-08 12:26] Xitro01 commented on #46
Nevermind, resetting the device completely solved it for me. Something messed up my device somehow.

Thanks anyway!

[2022-08-08 12:26] #46 closed, assigned to nobody

[2022-08-12 11:12] kine90 commented on #11
Hi kongo09, thanks a lot for this release! It took a while but finally I had the time to test.
The installation was smooth, first impressions are very positive.
Everything is working out-of-the-box, except:
- Display backlight control
- Display brightness

**Tricky point:**
If the purifier goes into "Night mode" it remains stuck there. Whatever other mode you try to activate, the purifier blinks b

[2022-08-19 11:40] kine90 commented on #11
After fewo hours it stopped working and never come back, even powercycling the purifier and HA. HA log gives the following errors:
[code]

[2022-08-19 12:39] kongo09 commented on #11
This looks like a new error. I've never seen this before. Did you change anything in the last few days before it broke? Update of HA core maybe? Please file a new bug report for this.

[2022-08-19 12:54] kine90 commented on #11
Yes, the update of HA core to version 2022.8.4 - August 12 seems to coincide with the moment I´ve lost the purifier. I´ve started a new issue. Thanks!

[2022-08-19 12:57] kongo09 commented on #45
I've started to look into supporting this model. The device seems to have two special modes that other devices don't have, the auto gas mode and the auto pollution mode. Can you please help by posting the values of `mode` and `om` for the following settings:
- general auto mode
- auto gas mode
- auto pollution mode
- auto allergen mode

plus
- sleep mode
- speed 1
- speed 2
- turbo

As far as I un

[2022-08-19 12:57] kine90 opened #47 "Stopped working after HA core update 2022.8.4"
Hi Kongo,
My AC1214/10 went offline some days ago and never come back. Looks like the problem happened just after I´ve updated HA core to version  2022.8.4.

[code]

[2022-08-19 14:34] kongo09 commented on #47
Thanks for reporting. I'm currently on 2022.8.6 and cannot reproduce the error. Let's see if others also chime in.

[2022-08-20 13:23] therealeldaria commented on #47
Not sure if this is for the same reason, I just tried to install this, but the Integration does not show up.
I did the steps of installing it inside HACS and restarting Home Assistant, and it shows inside HACS, but when I go to Home Assistant and try to add a new Integration it does not show as an option when searching for Philips.
I use Home Assistant OS version 2022.8.6

[2022-08-20 19:31] kongo09 commented on #47
Interesting. I just removed mine and added it back in 2022.8.6 without a problem

[2022-08-21 11:31] therealeldaria commented on #47
Very odd, after fixing another error with influxdb, all of a sudden it showed up in Integrations. So at least my error is not related to OPS.

[2022-08-22 10:19] numabit opened #48 "cannot connect"
![image](https://user-images.githubusercontent.com/69018770/185898574-32faa0a6-31ce-4ba2-b3bc-8b9a601f4376.png)

022-08-22 12:15:43.081 WARNING (MainThread) [custom_components.philips_airpurifier_coap.config_flow] Timeout, host 10.0.23.6 doesn't answer, aborting
2022-08-22 12:16:47.404 DEBUG (MainThread) [async_upnp_client.traffic.ssdp] Received packet from ('10.0.23.6', 1900): b'NOTIFY * HTTP/1.1

[2022-08-22 10:32] kongo09 commented on #48
Technically, model AC3829 is supported.

Practically, this seems to be the connection problem that many of us have. Sorry, not much I can do about it.

[2022-08-22 10:32] #48 closed, assigned to nobody

[2022-08-22 10:35] numabit commented on #48
thanks for the feedback!

[2022-08-22 18:22] Orbi-Code commented on #47
@kine90 @therealeldaria @kongo09
There is a problem with the Wi-Fi connection between the "Clean Home+" app and the device.
If you restore the Wi-Fi connection the problem in Home Assistant is solved too.

[2022-08-23 07:39] kongo09 commented on #47
What does "restore" mean?

This is the first time that I hear that the CleanHome+ app and its connectivity has anything to do with how HA functions.

@kine90 : does that help you? Can we close this issue here?

[2022-08-23 10:54] Orbi-Code commented on #47
@kongo09

I meant that if you reconnect to your own Wi-Fi network in the CleanHome+ app, the problem is solved.

[2022-09-19 13:43] ronald-chun commented on #45
Sorry for the late reply.
The following are the values of `mode` and `om` in all the different settings:
[code]

[2022-09-21 18:58] kkosyl opened #49 "[AC2729] Missing select entities for Speed/Modes"
Hi @kongo09,

I have Philips AC2729 and the integration works very well which is awesome.

I have an issue with select entities for speed/modes though. I can see those presets in code but not in HA. Should those appear in HA as entites? (I have select for purification and purification with humidifier).

Greetings

**_EDIT:_**
I guess I found it. It looks like I would have to make buttons to call e

[2022-09-25 08:50] kongo09 commented on #49
They're not separate select entities because they're part of the HA fan model. If you select the fan entity and check the info section, you'll see all your options as slider and as drop-down:

![image](https://user-images.githubusercontent.com/640121/192135520-b84e508c-ac40-41e0-9470-592a67a0a406.png)

This is not a bug but the way fan operates.

[2022-09-25 08:50] #49 closed, assigned to nobody

[2022-09-25 08:52] kongo09 commented on #47
I guess this is solved. If not, please reopen.

[2022-09-25 08:52] #47 closed, assigned to nobody

[2022-09-25 09:28] kongo09 commented on #45
Please try the new beta `v0.11.0-beta4558.1` and let me know if it works

[2022-09-26 13:28] cln-io commented on #43
updated details on #23

[2022-09-26 13:31] cln-io commented on #23
Trying with [v0.10.1-beta1214.2](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.10.1-beta1214.2)
[code]

[code]

[2022-09-26 13:37] cln-io commented on #23
EDIT: I can't switch mode :(

~~However: when running the main/master branch installed with HACS it seems to be working fine for me~~

![image](https://user-images.githubusercontent.com/7887972/192291001-2791c97d-807f-4630-9864-0adeeae2f31f.png)

[2022-09-26 14:36] ronald-chun commented on #45
Tested on `v0.11.0-beta4558.1`, the on/off, speed and the Preset mode auto & gas are working perfectly.
But for the Preset Mode pollution and allergen, I cannot change to these 2 modes in the dropdown

[2022-09-26 16:10] cln-io commented on #23
I have this device & HA running, feel free to send some directions / instructions my way and I'll help you debug

[2022-09-26 17:44] kongo09 commented on #23
Hm, so are you saying the there actually is no problem with the AC1214 with the current release?

[2022-09-26 17:46] cln-io commented on #23
I'm sorry I was not clear, with the main/master branch, I **cannot** switch the modes

![image](https://user-images.githubusercontent.com/7887972/192345284-80a4e259-6b60-4ae9-881c-47734ce922ac.png)

[2022-09-27 07:10] kongo09 commented on #45
What do you mean?

- The modes are not displayed so you cannot select them
- or they are displayed but greyed out
- or they are displayed normally but when you select them, nothing happens

[2022-09-27 07:37] kongo09 commented on #43
can you please set logging to debug and send me the output. Just before the error happens, I have two debugging lines in the code that should give us some insight:

[code]

[2022-09-27 13:21] ronald-chun commented on #45
This one
- or they are displayed normally but when you select them, nothing happens

The other modes and speed slider will have a beep sound and reflect in the Philips app (Clean Home+) immediately after I do the changes

But the pollution and allergen mode does not have any beep sound and nothing happened in the Philips app

[2022-09-27 13:45] kongo09 commented on #45
That's interesting. So it seems that setting `mode` alone is not enough. When you observe the parameters as above, does anything else change?

Alternatively, I could try set `om` as well, even if it is the same value that is set already. Maybe that makes it work...

[2022-09-28 13:57] ronald-chun commented on #45
I think all the modes should be together with the `om: "a"`

I tried the following steps:
1. change to "pollution" mode in the app
2. get the status by using aioairctrl,
[code]
3. change to speed 1 in the app
4. get the status by using aioairctrl,
[code]
5. change to "pollution" mode again in the app
6. get the status by using aioairctrl,
[code]

I double-checked the status in all four modes, and

[2022-09-29 07:56] kongo09 commented on #45
try `v0.11.0-beta4558.2`

What happens to your speed setting when you now select a preset?

[2022-10-17 23:21] kongo09 commented on #45
@ronald-chun does the beta work for you?

[2022-10-18 16:16] ronald-chun commented on #45
Sorry for the late reply
The pollution mode is still not working
And for the allergen mode, it works sometimes and it doesn't work sometimes. I am still trying any of the working patterns/combinations with speed.

[2022-10-28 19:05] alucryd commented on #42
Just ordered one of these. Will be happy to help finish adding support for it when I get my hands on it!

[2022-10-28 19:14] kongo09 commented on #42
Great

[2022-10-28 19:21] Jaguaza commented on #42
Thank you, I've had a busy few months, I promise to get involved with you to see if between the two of us we can get it out.

I have the notice of dirty filter and do not clean it to see when I have time and see the difference with the dirty one and with him clean.

Sorry @kongo09 for the abandonment.

[2022-11-02 21:53] alucryd commented on #42
Arrived today, I turned all the knobs I could find, this mostly confirms what has been found already.

Figured out what D03-44 means, it's the air quality above which the app will send a notification (if going from fair to good for example).

Also there were some errors with @Jaguaza D03-13 values, added the correct values. It represents the current fan speed, sleep, turbo, speed 1 and speed 2 are

[2022-11-03 10:19] dennisbrouwer91 opened #50 "Broken in new home-assistant version"
Hi,

In Home-Assistant 2022.11.0 the integration now errors with this :
`Config entry 'AC1214 slaapkamer' for philips_airpurifier_coap integration not ready yet: Can't instantiate abstract class UDP6EndpointAddress with abstract method blockwise_key; Retrying in background`

Any idea what might be going wrong?

[2022-11-03 14:50] kongo09 commented on #50
I haven't upgraded yet, so let me try...

[2022-11-03 14:54] dennisbrouwer91 commented on #50
After multiple restarts of Home-Assistant is was suddenly fixed here, pretty strange!

[2022-11-03 16:40] kongo09 commented on #50
I did the upgrade and it works for me out of the box.

[2022-11-12 17:07] kongo09 commented on #45
any update on this? Maybe it helps if things are switched in a certain order. Or the device is simply as unreliable as many other Philips devices.

[2022-11-12 17:51] kongo09 commented on #42
Thanks, this is great. I've put your findings into the table above. Next step is to find some time and try to get it into the code.

[2022-11-15 00:14] ytugarev opened #51 "IAI (AQI) always equal 1"
It seems there is mismatch on allergen index. In modern Air+ app it is called IAI (AQI in integration). In my setup (AC3829/10) PM.25 and Humidity are shown correctly but AQI is always 1 (which is impossible - PM2.5 did fluctuate from 1 to 55).

[2022-11-15 09:06] ytugarev commented on #51
Oh, my mistake, there IS IAI index and it shows correct numbers. AQI is another one

[2022-11-15 09:06] #51 closed, assigned to nobody

[2022-11-15 10:23] kine90 commented on #47
Hi @kongo09 , I´ve finally found some time to test this. I am using the beta release specifically made for this model. After connecting the purifier to wifi and adding a new device trough the integration it works, but only for few hours. Now it is already back to unavailable. Rebooting HA or the purifier has any effect. The log shows always the same errors about tuples.
Now I am  using:
Home Assis

[2022-11-15 10:45] kine90 commented on #47
Here the full debug log:
`2022-11-15 11:43:10.199 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.philips] finished first refresh for host 192.168.2.50
2022-11-15 11:43:10.199 DEBUG (MainThread) [custom_components.philips_airpurifier_coap] coordinator did first refresh for host 192.168.2.50
2022-11-15 11:43:10.209 DEBUG (MainThread) [custom_components.philips_airpurifier_coap.fan] a

[2022-11-15 13:17] kine90 commented on #47
@kongo09, the main problem was definitely due to client.get_status() returning a tuple
`coordinator.status is: ({'name': 'Marco', 'type': 'AC1214', 'modelid': 'AC1214/10', 'swversion': '2.0.0', 'range': 'Simba', 'Runtime': 94664704, 'rssi': -39, 'otacheck': False, 'wifilog': False, 'free_memory': 54880, 'WifiVersion': 'AWS_Philips_AIR@71.3', 'ProductId': 'dca8c9d2f2ab11e8a1e3061302926720', 'Device

[2022-11-17 12:51] dennisbrouwer91 commented on #50
It indeed works, but sometimes the integration crashes with the error as shown in the initial message. It happens at least a couple of times per week, maybe good to double check the error on your side whenever possible?

[2022-11-17 12:52] kongo09 commented on #50
Thanks for sharing the observations. I'll keep an eye on this.

[2022-11-18 18:08] kine90 commented on #11
The issue seems to be solved updating to the last version for AC1214/10. After one week of successful testing I made a pull request to merge it to the main branch. #52

[2022-11-18 18:08] #11 closed, assigned to kongo09

[2022-11-18 18:09] kine90 commented on #47
The issue seems to be solved updating to the last version for AC1214/10. After one week of successful testing I made a pull request to merge it to the main branch. #52

[2022-11-22 09:07] XtrordinarY commented on #50
I have the same problem as @dennisbrouwer91 with the same error message but with a different model. It sometimes works after a few restarts but more often it doesn't than it does.

![image](https://user-images.githubusercontent.com/58817407/203272501-ba9eefd5-8159-45e4-a7ba-f3e66e2765af.png)

[2022-11-22 09:21] dennisbrouwer91 commented on #50
It feels like it has something to do with IPv6, because of the "UDP6" address error.

[2022-11-27 19:43] kongo09 commented on #45
Here comes another attempt. Please try [v0.11.0-beta4558.3](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.11.0-beta4558.3)

[2022-11-27 19:46] kongo09 commented on #23
Can you please try the latest beta for AC1214: [v0.11.0-beta4558.2.1214](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.11.0-beta4558.2.1214)

[2022-11-27 19:46] kongo09 commented on #43
Can you please try the latest beta for AC1214: [v0.11.0-beta4558.2.1214](https://github.com/kongo09/philips-airpurifier-coap/releases/tag/v0.11.0-beta4558.2.1214)

[2022-11-27 20:03] kongo09 commented on #42
I'm currently trying to fix AC1214 and AC4558 so apologies if this takes a bit longer here. I guess, to make it really work, quite a bit of refactoring is needed due to the new way of naming things.

Anyhow, before I try to do that, I'd like to see if it works in principle. I've just done a little beta that should allow you to switch the device on and off, not more. Let's get that one working firs

[2022-11-27 21:14] SamJongenelen commented on #43
Hey, thank for the reminder. I just loaded this beta via HACS but unfortunately the integration does not initialize

[2022-11-27 21:17] kongo09 commented on #43
You mean it doesn't setup at all? Can you please provide some logs and also try restarting your device. That sounds more like the connectivity bug than anything specific to the AC1214

[2022-11-27 22:40] SamJongenelen commented on #43
Sorry I wasn't clear. I've restarted a couple of times. The log just states

[2022-11-27 22:46] SamJongenelen commented on #43
Edit: you are right i power cycled the fan and now i have contact

[2022-11-27 22:47] SamJongenelen commented on #43
This version works good! Thanks for the effort :)

To confirm, all modes work

![Screenshot_20221127-234709](https://user-images.githubusercontent.com/3382443/204163851-91600ab2-6cd6-4050-bc82-1adb13c30b5e.png)

[2022-11-28 00:19] kongo09 commented on #43
Great, good to hear. Does it also work when the device is switched off and you switch it on by setting a preset mode?

[2022-11-28 18:57] SamJongenelen commented on #43
When the device is off in HA , and i select a preset, it is received by the device (beep). However, this does not turn the device on.
When i then turn on the device, the preset is the latest i selected.

I would not expect it to, but is that what you mean?

[2022-11-28 19:07] kongo09 commented on #43
I would expect the device to turn on after the beep and then switch to the right mode. Can you share logs?

[2022-11-28 19:34] SamJongenelen commented on #43
I want to, but I only see this single line below. Am i missing something?

[2022-11-28 19:35] kongo09 commented on #43
Did you enable debug logging?

[2022-11-28 19:39] SamJongenelen commented on #43
[code]

the log entry has DEBUG in it so i figured it was setup correctly

[2022-11-28 19:43] SamJongenelen commented on #43
Also, i notice some strange behaviour. When I put the device in any preset mode (e.g. 'auto'), it it returns to preset 'night' after 20 seconds.

I disabled all my automations, and there is no schedule set in the Air+ app

update: another strange thing; once it is again in preset 'night', i cannot go to preset 'speed 1', but _can_  go to any other preset

[2022-11-28 20:04] kongo09 commented on #43
You might want to take out fan

[2022-11-28 20:04] kongo09 commented on #43
Hm, this beast is complicated

[2022-11-28 22:31] SamJongenelen commented on #43
So i've clicked a little bit, and removed the `.fan` part of the logger. Now we got some logs!

I only discovered two problematic changes, from `auto->preset1` or `night->preset1`.

This is the debug log after some changes

[2022-11-28 23:07] kongo09 commented on #43
Thanks, now that looks more interesting now. To get a shorter log, you can also try to use: `custom_components.philips_airpurifier_coap.philips: debug` as this is where the action is.

Now first things first:

In the log above I only see one place where you switch on the device. The first thing I'd like to understand is: using the preset or speed settings when the device is off: do they switch it

[2022-11-29 11:20] SamJongenelen commented on #43
Ok. This is what i did.
  - Auto mode (beep)
  - Off (beep)
  - Preset3 (beep, device stays off (in HA too), the slider moves to correct position in HA)
  - turn device on in Ha
  - device is in preset3

This happens on all variations .

I will post log when on laptop, can't copy from mobile

[2022-11-29 11:28] kongo09 commented on #43
Is that for the log above or do you have a new log?

[2022-11-29 19:52] SamJongenelen commented on #43
Ok i did it again, with the logs here

- turn purifer off in HA
- reboot HA
do airpurifier commands via HA:
- on (was in night mode)
- auto
- speed 1 (no beep)
- speed2
- off
- speed 3
- on (is in night mode)

[code]

[2022-11-29 21:34] kongo09 commented on #43
In the log I see

power | mode | speed (om)
--------|--------|------
off  |  N (night) | 1
on | N | 1
on | P (auto) | 1
on | N | 1
off | N | 1
off | N | 3
on | N | 3
on | N | 1

So that seems to be two different problems:
- setting preset 1 has no effect (with preset 1 you mean auto?)
- switching on by setting speed 3 brings it on, but it goes into night mode (speed 1)

correct?

or did you switch

[2022-11-29 22:34] kongo09 commented on #43
Can you please try `v0.11.0-beta1214.2` and report back in a similar way as above?

[2022-11-29 22:45] SamJongenelen commented on #43
i edited the comment, by preset1 i meant speed1...

i did the same actions.

- turn purifer off in HA
- reboot HA
do airpurifier commands via HA:
- on
- auto
- speed 1
- speed2
- off
- speed 3
- on (is in night mode)
- speed1

[code]

[2022-11-30 10:28] kongo09 commented on #43
From the log I see that the device did everything that you set. I don't see that the device is in night mode when you switch it on. The device reports itself to be in manual mode `M` with speed `om=3`, which corresponds to your settings.

[2022-11-30 17:58] Jaguaza commented on #42
It does not connect to my device.

![Captura de pantalla 2022-11-30 185733](https://user-images.githubusercontent.com/46264854/204872992-0ef26d2b-4e98-429a-85dc-21d01a306003.jpg)

[2022-11-30 20:49] kongo09 commented on #42
Can you please share the logfile?

[2022-11-30 21:13] alucryd commented on #42
Same here, here's the log:
[code]

[2022-11-30 21:50] SamJongenelen commented on #43
Yes, maybe it is going in night node automatically? Cant find any settings for it..

About your comment: it still doesnt 'turn on' if i select a preset. Personally i dont mind this and am pretty happy  will monitor now if something weird happens again ill have the logging on

[2022-11-30 22:27] kongo09 commented on #43
Hm, if it goes into night mode automatically, it should still change its status reporting.

So you say it turns on if you select `on` but not if you select a preset?